<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="printStackTrace" value="false"/>
    <add key="printEveryException" value="false"/>
    <add key="openFileAfterGeneration" value="true"/>

    <add key="newLineWhenAfficher" value="true"/>
  </appSettings>
</configuration>